/* Default Sections  */
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section>img {
    position: absolute;
    z-index: -1;
    height: 39.5rem;
    width: 100%;
}

/* Navbar */
.navbar-toggler {
    height: 40px;
    background-color: transparent;
    color: black;
    font-weight: 1000;
    border: 1px solid transparent;
    margin: 2rem;
}

.navbar-toggler span {
    color: var(--black);
    font-size: var(--size-30);
    cursor: pointer;
    pointer-events: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(220, 220, 220, 0.2);
}

.navbar a {
    margin: 0 1rem;
}

.nav-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42rem;
}

.nav-home li {
    color: var(--font-color-base);
    font-weight: 600;
    font-size: 1.1rem;
}

.navbar img {
    width: 200px;
    padding: 0;
    margin: 1rem;
}




/* Hero Section */
.hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
} 



/* Hero Right */
.hero-right {
    display: flex;
    flex-direction: column;
}

.hero-right img {
    height: 50px;
    width: 50px;
}

.hero-right a {
    background-color: var(--white);
    border: 20px solid var(--white);
    border-radius: 50%;
    box-shadow: 0 0 10px gainsboro;
}

.logo-1 {
    position: relative;
    top: 2rem;
}

.logo-2 {
    position: relative;
    right: 14rem;
    bottom: 2rem;
}

.logo-3 {
    transform: scale(0.8);
    position: relative;
    right: 32rem;
    bottom: 8rem;
}

.logo-4 {
    position: relative;
    right: 10rem;
    bottom: 4rem;
    transform: scale(0.8);
}

.logo-5 {
    position: relative;
    right: 24rem;
    bottom: 8rem;
}

.logo-6 {
    position: relative;
    right: 16rem;
    bottom: 6rem;
    transform: scale(0.7);
}

.logo-7 {
    position: relative;
    bottom: 16rem;
}



/* Hero Left Side */

.hero-left {
    display: flex;
    flex-direction: column;
    width: 24.5rem;
}

.hero-left h1 {
    font-size: 2.7rem;
    font-weight: 500;
}

.hero-left a {
    color: var(--font-color-base);
    font-size: larger;
    font-weight: 700;
}



/* Why Front */
.front-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.front {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

.why-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 0 auto;
}

.why-first {
    text-align: center;
    padding-bottom: 2rem;
}

.circle-container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100%;
}

.circle-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle-header{
    text-align: center;
    width: 200%;
    color: black;
    font-weight: bold;
    font-size: large;
}

.outer-circle {
    border: 25px solid rgba(0, 0, 255, 0.1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.inner-circle {
    border: 5px solid rgba(0, 0, 255, 0.7);
    border-radius: 50%;
    width: 1px;
    height: 1px;
}

.line-1 {
    position: relative;
    bottom: 0.4rem;
    left: 2.16rem;
    height: 1px;
    border: 2px solid rgba(0, 0, 255, 0.07);
    width: 11.65rem;
    margin: 0 0.4rem;
}

.line-2 {
    position: relative;
    bottom: 0.4rem;
    left: 2.16rem;
    height: 2px;
    border: 2px solid rgba(0, 0, 255, 0.07);
    width: 11.65rem;
    margin: 0 0.8rem;
}

.line-3 {
    position: relative;
    bottom: 0.45rem;
    left: 2.16rem;
    height: 2px;
    border: 2px solid rgba(0, 0, 255, 0.07);
    width: 11.65rem;
    margin: 0 0.15rem;
}




/* Pricing */
.pricing-p {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.pricing-p h2 {
    margin: 15px;
}

.pricing-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28rem;
    gap: 2%;
}

.pricing-table img { height: 60px; }

.pricing-card-primary {
    height: 100%;
    width: 33%;
    border: 1px  gainsboro;
    box-shadow: 0 0 15px 0.125rem gainsboro;
    padding: 2rem;
    border-radius: 4px;
}

.pricing-card-primary span {
    display: flex;
    align-items: center;
    justify-content: baseline;
}


.pricing-card-primary span h1 {
    font-size: 4rem;
    font-weight: 300;
    margin: 0 0 1.5rem 10px;
}
.pricing-card-primary hr { margin: 0 0 2rem 0; }

.pricing-card-primary span p {
    margin: 0 0 0 1rem;
}

.pricing-card-primary p {
    margin-bottom: 3rem;
}

.price-cards {
    display: flex;
    flex-wrap: wrap;
    width: 67%;
    gap: 10px;
}

.price-card {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 45%;
}

.price-card span {
    display: flex;
    align-items: center;
}

.price-card button {
    background-color: #01c9a7;
    color: white;
    border: none;
    border-radius: 1.5rem;
    height: 25px;
    width: 4rem;
    margin-left: 15px;
}

.price-card img { width: 60px; }
.price-card h3 { color: var(--black);}



/* Hire Us */

.hire-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 52rem;
}

.hire-us-testimonial img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

.hire-us-testimonial {
    margin-top: 6rem;
}
.hire-us-testimonial p { margin-bottom: 2 rem; }

/* Statement */

.hire-us-statement {
    width: 32rem;
}
.hire-us-statement h2 {
    font-weight: bold;
    margin: 1rem 0;
}
.hire-us-statement hr { margin: 2rem 0;}
.hire-us-statement i, p { font-size: x-large; }

.hire-us h2, i, h3 {
    color: var(--white);
}


/* Hire Form */

.hire-form {
    background-color: var(--white);
    height: 90%;
    width: 32rem;
    border-radius: 8px;
    padding: 2rem;
}

.hire-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    gap: 1rem;
}

#firstName, 
#lastName {
    width: 46%;
    padding: 0.75rem;
    border: 1px solid gainsboro;
    border-radius: 4px;
}
#email {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid gainsboro;
    border-radius: 4px;
}

#budget, 
#country {
    width: 46%;
    padding: 0.75rem;
    border: 1px solid gainsboro;
    border-radius: 4px;
}

#project-description {
    overflow: visible;
    height: 12rem;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid gainsboro;
    border-radius: 4px;
    font-size: 0.825rem;
    text-align: left;
    font-weight: 700;
}

.form-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

textarea {
    resize: none;
}

.opt {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.next-opt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.policy {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}


.form-btn { font-weight: 700; }

.policy a {
    font-weight: bold;
    color: var(--font-color-light);
    border-bottom: 4px dotted var(--font-color-light);
    
}
.policy a:last-child {
    color: var(--font-color-link);
    border-bottom: 4px dotted var(--font-color-link);
}

#checkbox {
    position: relative;
    bottom: 0.925rem;
    right: 0.925rem;
    transform: scale(2);
}

.form-end p { font-size: 1rem; }


.hire-background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #20335b;
    width: 100%;
    margin-top: 4rem;
}



/* Footer */
footer .navbar-brand img {
    color: black;
    height: 40px;
    width: auto;
}

.bg-footer { background-color: var(--white); }
.bg-footer a {
    color: var(--font-color-base);
    font-size: var(--size-18);
    font-weight: 500;
}
.footer-bottom {
    background-color: var(--white);
    
}

.footer-top {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    padding: 2rem 8rem;
}

.footer-top h4 {
    color: var(--black);
    font-weight: 900;
    font-size: larger;
    margin-bottom: var(--size-16);
}

.contact-info li, .contact-resource li {
    color: var(--font-color-base);
    margin-bottom: var(--size-10);
    font-weight: 600;
}

.contact-info li:last-of-type {
    color: var(--font-color-link);
}

.footer-ft {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.footer-col {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 5px;
}

.footer-col .navbar-brand {
    padding: 1rem 0;
}

.contact-info { margin-bottom: var(--size-30); }

.footer-top li i {
    width: var(--size-100);
    color: var(--font-color-base);
}

.social-icons {
    display: inline-block;
    margin-right: var(--size-16);
}

.features-blue:last-of-type {
    color: var(--font-color-link);
}

.social-icons a {
    color: var(--white);
    font-size: var(--size-16);
}

.hire-btn {
    margin-left: 10px;
    background-color: var(--font-color-link);
    color: var(--white);
    border: 2px solid var(--font-color-link);
    border-radius: 4px;;
}

.footer-top a:hover {
    cursor: pointer;
}

.service-wrapper p { color: #858497;}

.recent-posts {
    display: flex;
    margin-bottom: var(--size-16);
}

.privacy-policy2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
    font-weight: 600;
    font-size: medium;
}

.recent-posts .post-img-wrapper {
    margin-top: 7px;
    width: var(--size-150);
    margin-right: var(--size-10);
}

.post-inner h6 { margin: 0; }
.post-inner h6 a {
    color: var(--white);
    font-weight: 600;
}

.post-inner span {
    color: var(--font-color-light);
    font-size: var(--size-10);
}




/* Scroll */
#scrollUp {
    background: linear-gradient(90deg, #9ccdfe 0%, #94aafd 100%);
    height: var(--size-50);
    width: var(--size-50);
    font-size: var(--size-20);
    line-height: var(--size-50);
    color: var(--white);
    position: fixed;
    bottom: var(--size-30);
    right: var(--size-30);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    z-index: 100;
}